{% extends 'src/views/partials/layout.njk' %}
{% block title %}Home{% endblock %}
{% block content%}
    <h1>Home Page</h1>
    <ul>
        {% for i in range(0, 10)%}
            <li>{{i}}</li>
        {%endfor%}
    </ul>
{% endblock %}

